body{
    position: fixed;
    margin: 0;
    height: 100%;
    width: 100%;
}

.bg{
    height: 100%;
    background: url(./media/Prancheta1.png);
    background-size: cover;
    background-repeat: no-repeat;
}


.main{
    position: absolute;
    top: 7%;
    left: 4%;
}

.main img{
  
}
#trabalhos{
    transition: 300ms;
    position: absolute;
    width: 160px;
    height: 45px;
    left: 599px;
    top: 370px;
    bottom: 510.62px;
}
#trabalhos:hover{
    transition: 200ms;
    width: 180px;
    height: 60px;
    text-shadow: black;
}

#redes{
    transition: 300ms;
    position: absolute;
    width: 109px;
    height: 70px;
    left: 616.83px;
    top: 497px;

}
#redes:hover{
    
    transition: 200ms;
    width: 180px;
    height: 80px;
    text-shadow: black;
}

#about{
    transition: 300ms;
    position: absolute;
    width: 83px;
    height: 35px;
    left: 801px;
    top: 597px;

}
#about:hover{
    transition: 200ms;
    width: 180px;
    height: 60px;
    text-shadow: black;
}


#contato{
    transition: 300ms;
    position: absolute;
    width: 130px;
    height: 70px;
    left: 626px;
    top: 745px;

}
#contato:hover{
    transition: 200ms;
    width: 180px;
    height: 60px;
    text-shadow: black;
}
